@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Parkinsans;
    font-size: 16px;
    text-align: center;
    
}

body{
    min-height: 100vh;
    background-image: url(background.jpg);
    background-position: right;
    overflow: hidden;
   
}

.wrapper{
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    color: lightblue;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    font-size: 2rem;
    font-weight: 500;
}

form input{
    border-radius: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid lightblue;
    background-color: lightblue;
    transition: 150ms ease;
}
form input:hover{
    border-color: blue;  
}
form input:focus{
    outline: none;
    border-color: blue;
}

button{
    background-color: lightblue;
    color: white;    
    border: none;
    border-radius: 15px;
    padding: 1em 2em;
    font: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: 150ms ease;
}
button:hover{
    background-color: blue;
}  
button:focus{
    outline: none;
    background-color: blue;
} 
form div.error label{
    background-color: lightcoral;
    border-color: lightcoral;
    color: lightcoral;

}
form div.incorrect input{
    background-color: lightcoral;
    border-color: lightcoral;
    color: lightcoral;
}

#error-message{
    color: lightcoral;
}
